# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

data/
dataset/